.container .textoCabecalho {
  height: 4em;
}

.container .textoCabecalho {
  height: 4em;
}

.textoCabecalho p {
  font-family: sans-serif, Arial;
  font-size: x-large;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/* .imagemCabecalho {
  cursor: pointer;
} */

.imagemCabecalho img {
  height: 64px;
  width: 64px;
}

.linha-cabecalho {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.botaoCabecalho {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 400px) {
  .textoCabecalho p {
    font-size: 18px;
  }

  .botaoCabecalho button {
    font-size: small;
  }
}
