.container .textoCabecalho {
  height: 4em;
}

.container .textoCabecalho {
  height: 4em;
}

.textoCabecalho p {
  font-family: sans-serif, Arial;
  font-size: x-large;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.linha-cabecalho {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.botaoCabecalho button {
  margin-top: 15px;
  float: right;
}
