.card-columns {
  margin-top: 5px;
}

.bkgOutros {
  background-image: url("../imagens/bkgoutros.jpg");
  background-size: 100% 100%;
}

.bkgConfeitaria {
  background-image: url("../imagens/bkgconfeitaria.jpg");
  background-size: 100% 100%;
}

.bkgHortiFruiti {
  background-image: url("../imagens/bkghortifruti.jpg");
  background-size: 100% 100%;
}

.bkgServicos {
  background-image: url("../imagens/bkgservicos.jpg");
  background-size: 100% 100%;
}

.tipo-texto-card {
  margin-bottom: 0.4em;
}

.texto-sem-cadastro {
  text-align: center;
}

.texto-sem-cadastro img {
  width: 20%;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 400px) {
  .texto-sem-cadastro img {
    width: 30%;
  }
}
