.card-columns {
  margin-top: 5px;
}

.bkgOutros {
  background-image: url("../imagens/bkgoutros.jpg");
  background-size: 100% 100%;
}

.bkgConfeitaria {
  background-image: url("../imagens/bkgconfeitaria.jpg");
  background-size: 100% 100%;
}

.bkgHortiFruiti {
  background-image: url("../imagens/bkghortifruti.jpg");
  background-size: 100% 100%;
}

.bkgServicos {
  background-image: url("../imagens/bkgservicos.jpg");
  background-size: 100% 100%;
}

.nomeCategoria {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

@media only screen and (max-width: 400px) {
  .nomeCategoria h3 {
    font-size: 20px;
  }
}
