.titulo {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightblue;
  }

.titulo .textotitulo {
  text-align:"center";
  border-style:"solid";
  font-weight: bold;
  font-size: 35px;
  flex-grow: 1; 
}

.botaoVoltar {
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .titulo .textotitulo {
    font-size: 20px;
  }

  .botaoVoltar svg {
    width: 25px;
    height: 25px;
  }
}

